body{
    background: #d2d2c1 url('../img/fundo.png');
    font: 15px arial, helvetica, sans-serif;
}

#principal{
    
  width: 900px;
        
}
#menu{
    background: #c5c5c2;
    padding: 20px;
}
a{
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    color:#4b566a;
}
a:hover{
    color: cadetblue;
}
#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

.centralizar{
    text-align: center;
}

.img-campanha{
    border: 10px solid #c3ceae;
}
h1{
    color: #828271;
    font-size: 1.2em;
}